body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

video {
    margin-top: 20px;
}

#bar-container {
    position: relative;
    width: 300px;
    height: 100px;
    margin-top: 20px;
}

#bar {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 10px;
    background: linear-gradient(to right, blue 0%, blue 0%, #666161 0%, #979090 0%);
    transform-origin: center;
    transform: rotate(0deg);
    transition: transform 0.1s linear;
    margin-left: -100px;
}

.handle {
    width: 20px;
    height: 20px;
    background: #afa6a6;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: grab;
}

#handle-left {
    left: -10px;
}

#handle-right {
    right: -10px;
}